
@{
    ViewBag.Title = "Index";
}

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Home</title>
</head>

    <heading>
        <div class="welcome">
            <center>
                Welcome To LTI
            </center>
        </div>
        <nav>
            <div class="navbar">
                <ul>
                    <li>@Html.ActionLink("Home", "Index")</li>
                    <li>@Html.ActionLink("Register", "Register")</li>
                    <li>@Html.ActionLink("Login", "Login")</li>
                    <li style="float: right;"><a href="#"><img src="~/Content/images/lti.jpg"></a></li>
                </ul>
            </div>
        </nav>
    </heading>
    <article>
        LTI (NSE: LTI) is a global technology consulting and digital solutions Company helping more than 400 clients succeed in a converging world. With operations in 31 countries, we go the extra mile for our clients and accelerate their digital transformation with LTI’s Mosaic platform enabling their mobile, social, analytics, IoT and cloud journeys.
        <br><br>
        Founded in 1997 as a subsidiary of Larsen & Toubro Limited, our unique heritage gives us unrivaled real-world expertise to solve the most complex challenges of enterprises across all industries.
        <br><br>
        Each day, our team of more than 33,000 LTItes enable our clients to improve the effectiveness of their business and technology operations and deliver value to their customers, employees and shareholders.
    </article>
    <div class="welcome">
        <center>
            Our Beliefs
        </center>
    </div>
    <div class="beliefs">
        <center>
            <table>
                <tr>
                    <td><img src="~/Content/images/extra-mile-237x300.png"></td>
                    <td><img src="~/Content/images/Be-agile-237x300.png"></td>
                    <td><img src="~/Content/images/push-frontiers-of-innovation-237x300_robo.jpg"></td>
                    <td><img src="~/Content/images/keep-learning-237x300.png"></td>
                    <td><img src="~/Content/images/solve-for-society-237x300_new-237x300.png"></td>
                </tr>
                <tr>
                    <td>Go the Extra Mile</td>
                    <td>Be Agile</td>
                    <td>Push Frontiers of Innovation</td>
                    <td>Keep Learning</td>
                    <td>Solve for Society</td>
                </tr>
            </table>
        </center>
    </div>
    <footer>
        &#169;2020 Larsen & Toubro Infotech Limited
    </footer>

